attr==0.3.2
cffi==2.0.0
colorama==0.4.6
ConfigParser==7.2.0
defusedxml==0.7.1
docutils==0.22.4
fastapi==0.128.0
filelock==3.20.2
keyring==25.7.0
langchain_chroma==1.1.0
langchain_core==1.2.6
langchain_openai==1.1.6
langchain_text_splitters==1.1.0
langgraph==1.0.5
numpy==2.4.0
olefile==0.47
pandas==2.3.3
protobuf==6.33.2
pydantic==2.12.5
pygame==2.6.1
PyJWT==2.10.1
PyJWT==2.10.1
pyOpenSSL==25.3.0
PyQt6==6.10.1
PySide6==6.10.1
python-dotenv==1.2.1
python_bcrypt==0.3.2
redis==7.1.0
setuptools==80.9.0
Sphinx==9.1.0
SQLAlchemy==2.0.45
thread==2.0.6
urllib3_secure_extra==0.1.0
uvicorn==0.40.0
xmlrpclib==1.0.1
