annotated-doc
annotated-types
bcrypt
chromadb
cryptography
duckduckgo-search>=6.0.0
fastapi
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint-sqlite
numpy
openai
pandas
pdfplumber
pydantic
pyjwt
pymysql
pypdfium2
python-dotenv
python-multipart
sqlalchemy
uvicorn